{% macro card(bgColor,link,heading,para,img) %}
<a href="{{link}}" class="block p-6 max-w-xl {{bgColor}} rounded-lg border border-gray-200 shadow-md ">
    <div class="flex justify-between align-center">
        <div class="w-lg">
            <h5 class="rubik mb-2 text-2xl font-bold tracking-tight  text-gray-900 dark:text-white ">{{heading}}</h5>
            <p class="inter font-normal hidden md:block text-gray-700 dark:text-gray-400">
                {{para}}
            </p>
        </div>
        <div>
            <img src="{{img}}" alt="peace sign" class="w-24 md:w-auto" >
        </div>
    </div>
    <p class="inter font-normal md:hidden mt-4 text-gray-700 dark:text-gray-400">
        {{para}}
    </p>
</a>
{% endmacro %}
