<div class="flex flex-wrap gap-4 ">
    {# import card from component folder #}
    {% import 'components/cards.njk' as macro  %}
    {{ macro.card('bg-[#F66A55]','/','Learn Numbers','Learn numbers from 0-10 in  chronological order with the help of artificial intelligence.','/assets/img/peace.png') }}
    {{ macro.card('bg-[#A0A6FF]','/','Learn Numbers','Learn numbers from 0-10 in  chronological order with the help of artificial intelligence.','/assets/img/peace.png') }}
    {{ macro.card('bg-[#72CAC3]','/','Learn Numbers','Learn numbers from 0-10 in  chronological order with the help of artificial intelligence.','/assets/img/peace.png') }}
    {{ macro.card('bg-[#E7FF85]','/','Learn Numbers','Learn numbers from 0-10 in  chronological order with the help of artificial intelligence.','/assets/img/peace.png') }}
    {{ macro.card('bg-[#E8B6D2]','/','Learn Numbers','Learn numbers from 0-10 in  chronological order with the help of artificial intelligence.','/assets/img/peace.png') }}
</div>