<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" ></link>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.5/plyr.css" />
    <title>SignLanguage: English-American Sign Language dictionary contains video for over 100,000+ words.</title>
    <link rel="icon" href="/assets/logo/kawaii-panda.png" />
    <meta name="description" content="SignLanguage is a platform where users can practically learn American Sign Language using machine learning, games and access videos for over 20,000+ ASL phrases."/>
    <link rel="canonical" href="https://signlanguage.webdrip.in/"/>
    <meta property="og:title" content="Learn ASL practically"/>
    <meta property="og:description" content="SignLanguage is a platform where users can practically learn American Sign Language using machine learning, games and access videos for over 20,000+ ASL phrases."/>
    <meta property="og:site_name" content="SignLanguage"/>
    <meta property="og:type" content="ASL,Education,Courses,Learning,Machine Learning, ML, AI, Deaf Community,deaf, sign language"/>
    <meta name="language" content="EN"/>
    <meta name="author" content="Narottam Sahu, Avirat Sudam, Aman Shrivastava, Prathamesh Raut"/>
    {# analytics - privacy and GDPR Compliant #}
    {# <script async defer data-website-id="b315f6d5-10e5-4c26-a781-d3113658dae7" src="https://analytics.webdrip.in/umami.js"></script> #}
</head>
<body class="">

    {% include 'partials/_header.html' %}
    {# search bar #}
    <section id="search-section" class="h-full  left-0 right-0 mx-auto">
        <form class="w-[90vw] m-auto" autocomplete="off">   
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                </div>
                <input id="search-input" type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search phrases...." autocomplete="off">
                <button id="close-search" class="hidden text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 fill-white cursor-pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>

            </div> 
        </form>

        <div id="fuzzy-search" class="hidden w-[90vw] mx-auto bg-white mt-5 rounded-lg z-30">
            {# dynamically adds search results here #}
            {# <div  class="flex gap-4">
                <div  class=" flex flex-col justify-center items-center p-2 w-40">
                    <img class="w-[150]" src="https://i.ytimg.com/vi/8iipyTfpMYU/maxresdefault.jpg" alt="${vid.title}" />
                </div>

                <div  class="flex flex-col justify-center items-center py-2">
                    <a href="#">
                        <h5  class="mb-2 texl-sm md:text-2xl font-bold tracking-tight capitalize  text-gray-900 dark:text-white">
                            title
                        </h5>
                        <p  class="mb-2 texl-sm tracking-tight capitalize  text-gray-600 dark:text-white">
                            Duration: 5sec
                        </p>
                    </a>
                </div>
            </div> #}
        </div>

    </section>

    {# Skeleton Loading videos #}
    <section id="skeleton-cards" class="hidden flex justify-center align-center flex-wrap max-w-screen-xl mx-auto mt-10 gap-4">
        {% import 'components/skeletonCards.njk' as macro  %}

        {% for i in range(0, 12) -%}
            {{ macro.skeletonCard() }}
        {%- endfor %}
        
    </section>
    {# videos #}
    <section id="paginated-video" class="flex justify-center align-center flex-wrap max-w-screen-xl mx-auto mt-10 gap-4">
        {# add all videos through javascript #}

        {# {% import 'components/videoCards.njk' as macro  %}
        {{ macro.videoCard('https://i.ytimg.com/vi/ZTQ_eawsM6I/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGGUgTShFMA8=&rs=AOn4CLDQyvCNxk1xBGv5Qp_e8y_hfOup2A','scads of fish,scads and scads of fish, scads and scads and scads of fish','https://www.youtube.com/watch?v=ZTQ_eawsM6I') }}

        {{ macro.videoCard('https://i.ytimg.com/vi/m35OB8DkHqc/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB1AaAAuADigIMCAAQARgtIFsocjAP&rs=AOn4CLAXGqKznMWmAxkUanu19Sn1cW9uhg','fire away-ask questions','https://www.youtube.com/watch?v=m35OB8DkHqc') }} #}
    </section>

    {# pagination #}
    <section class="flex gap-4 justify-center mt-8">
        <!-- Previous Button -->
        <button id="previous-page" class="inline-flex items-center px-4 py-2 mr-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <svg aria-hidden="true" class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
            Previous
        </button>
        {# next button #}
        <button id="next-page" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            Next
            <svg aria-hidden="true" class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>

    </section>

    {# video modal #}
    <div id="vidModal" class="hidden z-50 absolute top-0 left-0 bg-black/40 w-full h-full">
        <div id="player" class="relative flex justify-center items-center h-screen">
            <div class="flex flex-col">
                <div class="flex justify-end">
                    {# CLOSE ICON #}
                    <svg id="modal-close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="#FFFFFF" class="w-10 h-10 cursor-pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg> 
                </div>
                <iframe id="video" width="772" height="434" class="max-w-full h-auto aspect-video" src="" title="responsive iframe with aspect ratio css property" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    

</body>
<script src="{{ "/js/flowbite.js" | url }}" defer></script>
<script src="https://cdn.plyr.io/3.6.5/plyr.js" defer></script>
<script type="module" src="/js/videoModal.js"></script>    
</html>


