<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" ></link>
    <title>GestureAcademy - Learn ASL practically.</title>
    <link rel="icon" href="/assets/logo/kawaii-panda.png" />
    <meta name="description" content="GestureAcademy is a platform where users can practically learn American Sign Language using machine learning, games and access videos for over 20,000+ ASL phrases."/>
    <link rel="canonical" href="https://gestureacademy.webdrip.in/"/>
    <meta property="og:title" content="GestureAcademy: Learn ASL practically"/>
    <meta property="og:description" content="GestureAcademy is a platform where users can practically learn American Sign Language using machine learning, games and access videos for over 20,000+ ASL phrases."/>
    {# <meta property="og:image" content="/cryptocademy-logo-sideways-light.png"/> #}
    {# <meta property="og:image:width" content="2727"/> #}
    {# <meta property="og:image:height" content="1952"/> #}
    <meta property="og:site_name" content="GestureAcademy"/>
    <meta property="og:type" content="ASL,Education,Courses,Learning,Machine Learning, ML, AI, Deaf Community,deaf, sign language"/>
    <meta name="language" content="EN"/>
    <link rel="manifest" href="/manifest.json">
    <meta name="author" content="Narottam Sahu, Avirat Sudam, Aman Shrivastava, Prathamesh Raut"/>
    {# analytics - privacy and GDPR Compliant #}
    <script async defer data-website-id="b315f6d5-10e5-4c26-a781-d3113658dae7" src="https://analytics.webdrip.in/umami.js"></script>
</head>
<body class="bg-[#ECF3F5]" >
    {{content | safe}}
</body>
<script src="{{ "/js/flowbite.js" | url }}" defer></script>
{# <script>
  if (typeof navigator.serviceWorker !== 'undefined') {
    navigator.serviceWorker.register('sw.js')
  }
</script> #}
</html>